<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Bubble</title>
    <link rel="stylesheet" href="login.css"/>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="anime.js"></script>
</head>

<body>

    <div class="wrapper" id="login-app">
        <div class="frame">
            <input v-model="username" id="usr" placeholder="username"/>
            <input v-model="password" id="pwd" placeholder="password"/>
            <div class="btn" id="login" @click="onSubmit">login</div>
            <div class="btn" id="register">register</div>
        </div>
    </div>

<script>

    new Vue({

        el : '#login-app',

        data : {
            username : '',
            password : ''
        },

        mounted : function () {

            anime({
                targets : '.frame',
                translateX : [-800, 0],
                duration : 2000,
                rotate : [-240, 0]
            })
        },

        methods : {

            onSubmit : function (e) {

                axios.request({
                    url : '/login',
                    method : 'post',
                    params : {
                        'username' : this.username,
                        'password' : this.password
                    }
                }).then(response => {

                    if(response.data.status == 'success'){
                        let user = response.data.user;
                        sessionStorage.setItem('token', response.data.token);
                        sessionStorage.setItem('username', user.username);
                        sessionStorage.setItem('balance', user.balance.value);
                        sessionStorage.setItem('img', user.profileImg);

                        anime({
                            targets : '.frame',
                            translateY : 500,
                            duration : 650,
                            easing : 'easeInOutBack',
                            complete : function () {
                                window.location.href = '/view/main.html#/game';
                            }
                        });
                    }
                })
            }
        }
    });

</script>

</body>
</html>