@font-face {
    font-family: "CG";
    src: url(font.ttf) format("truetype");
}

.wrapper {
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background: #354091;
    font-family: "CG";
    font-size: 15px;
    color: #5b4e8e;

    display: grid;
    grid-template-columns: 1fr 48vh 1fr;
    grid-template-rows: 1fr 26vh 1fr;
    align-items: stretch;
    justify-items: stretch;
    overflow: hidden;
}

.frame {
    grid-row: 2;
    grid-column: 2;

    background-color: #282480;
    border: none;
    box-shadow: 3px 3px 5px rgba(9, 9, 9, 0.4);

    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 17% 20% 4% 20% 12% 27%
}

.right-column {
    grid-column: 3;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr 70px 70px;
}

.register {
    grid-column: 2;
}


input {
    grid-column: 2 / 4;

    background: transparent;
    border: none;
    border-bottom: solid 3px #5d77b9;
    box-shadow: none;
    color: #89a0d4;
    text-align: center;
    height: 27px;
    font-size: 100%;
}

::-moz-placeholder {
    color: #697fb1;
    opacity:  0.5;
}

input:focus {
    outline: 0;
}

#usr {
    grid-row: 2 / 3;
}

#pwd {
    grid-row: 4 / 5;
}

.btn {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #5d77b9;
    color: #161616;
    /*5E92C2*/
}

.btn:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 2px #1a1a1a;
    cursor: pointer;
}

#login {
    grid-column: 1 / 3;
    grid-row: 6;
}

#register {
    grid-column: 3 / 5;
    grid-row: 6;
}



