<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Bubble</title>
    <link rel="stylesheet" href="view/login.css"/>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>

<div class="wrapper" id="login-app">
    <div class="frame">

        <input v-model="username" id="usr" name="username"/>
        <input v-model="password" id="pwd" name="password"/>
        <button id="sbt" v-on:click="onSubmit">LOG IN</button>
    </div>

    <div class="right-column"><h2 class="register">register</h2></div>
</div>

<script>

    var login_app = new Vue({
        el : '#login-app',
        data : {
            username : '',
            password : ''
        },
        methods : {
            onSubmit : function (e) {

                axios.request({
                    url : 'login',
                    method : 'post',
                    params : {
                        'username' : this.username,
                        'password' : this.password
                    }
                }).then(response => {

                    if(response.data.status == 'success'){
                        sessionStorage.setItem('token', response.data.token);
                        sessionStorage.setItem('username', this.username);
                        window.location.href = 'view/main.html';
                    }
                })
            }
        }
    });

</script>

</body>
</html>