<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bubble</title>
    <link rel="stylesheet" href="login.css"/>
    <script src="https://unpkg.com/vue"></script>

</head>
<body>

<div class="wrapper" id="login-app">
    <div class="frame">

        <input id="usr" type="text" name="username"/>
        <input id="pwd" type="text" name="password"/>
        <input id="sbt" type="submit" value="submit">
    </div>

    <div class="right-column"><h2 class="register">register</h2></div>
</div>

<script>

</script>

</body>
</html>