<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bubble</title>

    <link rel="stylesheet" href="main.css"/>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="anime.js"></script>
</head>

<body>

    <div class="wrapper" id="app">

        <div class="sidebar">

            <menu-header :username="username" :balance="balance"></menu-header>

            <div class="viewChoice">
                <router-link to="/game" id="gameLink">Game</router-link>
                <router-link to="/farm" id="farmLink">Farm</router-link>
            </div>

        </div>

        <div class="mainView">
            <router-view></router-view>
        </div>
    </div>

<script src="farm.js"></script>
<script src="game.js"></script>
<script>

    const menuHeader = Vue.component('menu-header', {

        template : `
            <div class="menu">
                <h2 id="username">{{username}}</h2>
                <h2 id="balance">{{balance}}</h2>
            </div>`,

        props : ['username', 'balance']
    });

    const routes = [
        { path: '/farm', component: farm },
        { path: '/game', component: game }
    ];

    const router = new VueRouter({routes});

    new Vue({

        el : '#app',
        data : {
            username : '',
            balance : 0
        },

        router : router,

        mounted : function () {
          this.username = sessionStorage.getItem('username');
        },
    });

</script>
</body>
</html>