@font-face {
    font-family: "CG";
    src: url(font.ttf) format("truetype");
}

html, body {
    height: 100%;
    margin: 0;
    background: #111111;
    font-family: "CG";
    color: #696e75;

    background-image: url(bkg.jpg);
    background-repeat: repeat;
}


.wrapper {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: stretch;
    justify-items: stretch;
    /*grid-template-rows: ;*/
    min-height: 100%;
}

.sidebar {
    display: grid;
    grid-template-rows: 160px 1fr 20px;
    background-color: #161616;
    opacity: 0.95;
}

.menu {
    grid-row: 1;
    display: grid;
    grid-template-rows: 25% 25% 1fr;
    padding: 20px;
    text-align: right;
}

.bottom-bar{
    grid-row: 3;
    background-color: #1e1e1e;
}

.plane {
    /*border: solid 2px white;*/
    display: grid;
    /*grid-template-rows: 1fr repeat(10, 9.5vh) 1fr;*/
    /*grid-template-columns: 1fr repeat(10, 9.5vw) 1fr;*/

    background-color: black;
    opacity: 0.7;
    grid-column: 2;

    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);

    align-items: stretch;
    justify-items: stretch;
}

.bubbleImage {
    width: 9vh;
    height: 9vh;
    opacity: 0.6;
}

h2 {
    align-self: center;
}


